<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Totally not Quizlet</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>

  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <nav>

        <nav class="navbar navbar-expand-lg bg-light">
          <div class="container-fluid">
            <h1>
              <a href="/">Totally not Quizlet </a> <br>
            </h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <button class="cardCreation" href="/create">
                    <a href="/create">Create a Flashcard</a>
                  </button>
                </li>
                <li class="nav-item">

                  <button class="Questions" href="/create">
                    <a href="/all">See all Questions</a>
                  </button>

                </li>

                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
          </div>
        </nav>


        {{!-- <button class="directQuiz" id="directQuiz">Try a Quiz!</button> --}}

        {{!-- <button class="directCards" id="directCards">Check Out Your Cards!<button> --}}



            <!-- Conditionally render login or logout links -->
            {{!-- {{#if logged_in}}
            <a href="/profile">profile</a> |
            <button class="no-button" id="logout">logout</button>
            {{else}}
            <a href="/login">login</a>
            {{/if}} --}}


      </nav>



    </header>
    <main class="container container-fluid mt-5">

      {{{ body }}}


    </main>

    <div class="background">
      <img
        src="https://industrywired.b-cdn.net/wp-content/uploads/2022/04/Top-10-Animes-that-Encourage-to-Coding-Skills.jpg"
        alt="" style="border: 5px inset black">

    </div>
  </div>


</body>
<script src="./js/card.js"></script>
<script src="./js/main.js"></script>

</html>


{{!--

<body>
  <header>
    <h1>HOMEPAGE</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <h1>Body</h1>
  </main>
  {{#if loggedIn}}
  <script src="../../public/js/logout.js"></script>
  {{/if}}
</body> --}}