<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BeeWasHere</title>
</head>

<body>
  <header>
    <h1>HOMEPAGE</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <h1>Body</h1>
  </main>
  {{#if loggedIn}}
  <script src="../../public/js/logout.js"></script>
  {{/if}}
</body>
</html>