header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  }
  
  .button1 {
    background-color: #4CAF50;
    border-radius: 4px;
  }

  .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

  .background

  .a {
  background-color: #4CAF50;
  background-color: #4CAF50;
  border-radius: 4px;
  }