.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.button:hover {
  background-color: #459be0
    color white;
}

.back {
  margin-left: 100px;
  margin-right: 100px;
  width: 100px;
  height: 100px;
}

#theNotQuizletThing {
  background-color: white;
  border-color: #459be0;
  text-decoration-color: azure;

}


button.cardCreation {
  right: 75px;
  width: 90px;
  height: 60px;
}

body {
  text-align: center;
  background-color: #1b89bc;
}


IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto
}

header{
  text-align: center;
  text-decoration: solid;
  border: 5px solid rgb(11, 85, 153);

}
li.navSee {

    right: 25px;
    border: 3px solid rgb(11, 85, 153);
  } 

li.navCreate {
  right: 20px;
  border: 3px solid rgb(11, 85, 153);
} 

form {
  right: 150px;
  width: 330px;
  height: 50px;
}