
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  }
  
  .button1 {
    background-color: #4CAF50;
    border-radius: 4px;
  }

  .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

  .background

  .a {
  background-color: #4CAF50;
  background-color: #4CAF50;
  border-radius: 4px;
  }
.background {
margin-top: 200px;
};
.back {
  margin-left: 100px;
  margin-right: 100px;
  width: 100px;
  height: 100px;
}



